body {
  background-color: white;
  max-width: 1000px;
  margin: 10px auto;
  padding: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border:1px solid #021a40;
}

block1 {
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    margin: 30px auto;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    color: #434a54;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

block2 {
    font-style: normal;
    font-size: 30px;
    line-height: 32px;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    color: #434a54;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;

}

block3 {
    font-style: normal;
    font-size: 14px;
    line-height: 32px;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    color: #434a54;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

.toggle-content {
	display: none;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

.toggle-content.is-visible {
	display: block;
	height: auto;
	opacity: 1;
}
